<!-- wp:template-part {"slug":"header","theme":"blockskit-real-estate","tagName":"header"} /-->
<!-- wp:pattern {"slug":"blockskit-real-estate/template-page-no-gap"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"},"padding":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|x-large"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0px;padding-top:0;padding-bottom:0">
<!-- wp:post-featured-image /-->
<!-- wp:post-content {"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"blockskit-real-estate","tagName":"footer"} /-->
